@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.5rem;
  background-color: #000000;
  color: #c2c2ff;
  position: absolute;
  width: 100%;
  top: 50%;
  height: auto;
  text-align: center;
}
